/*ナビゲーションバー*/
.navbar-title{
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

/*ハイパーリンク達*/
.Heading{/*みだし*/
    display: inline-block;
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
}
.About_link{
    padding: 110px 0px 150px 0px;
}

/*TOP画面CSS*/
.Top_contents{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(images/red-dead-redemption-video-game-4k-scaled.jpg)
      center / cover;
}
@media only screen and (max-width: 767px){
    .Top_contents{
        display: block;
    }
}
.Top_contents h2 {
    color: white;
    margin: 0;
    position: absolute;
    top: calc(50% - 0.5em);
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: 8vw;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.60em
}
/*プロフィール画面*/
.imageFACE1{
    position: relative;
}
.yoshi{
    width: 150px;
    height: auto;
    position: absolute;
    top: -30px;
    left: -55px;
}
@media only screen and (max-width: 767px){
    .yoshi{
        width: 90px;
        height: auto;
        position: absolute;
        top: -20px;
        left: 10px;
    }
}
/*ABOUT画面CSS*/
.About_contents{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media only screen and (max-width: 767px){
    .About_contents{
        display: block;
    }
}
.imageFACE1{
    width: 300px;
    height: auto;
}
.About_contents ul{
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px gray;/*線の種類 太さ 色*/
}
.About_contents ul li{
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
}
.Icons{
    width: 65px;
    height: auto;
    position:relative;
    top: 50px;
    left: 75px;
    bottom: 0px;
    right: 0px;
}
@media only screen and (max-width: 767px){
    .Icons{
        width: 105px;
        height: auto;
        left: 25px;
    }
}
.Icons_CC{
    width: 100px;
    height: auto;
    position: relative;
    top: 42px;
    left: 54px;
    bottom: 0px;
    right: 0px;
}
.CC_ster{
    width: auto;
    height: 18px;
    position: absolute;
    top: 170px;
    left: 200px;
}
/*HTMLskill*/
.HTML_Skill{
    padding: 20px 0px 65px 0px;
}
.HTML_ster{
    width: auto;
    height: 65px;
    position:absolute;
    top: 60px;
    left: 195px;
    bottom: 0px;
    right: 0px;
}
.HTML_Skill h3{
    position:absolute;
    top: 50px;
    left: 200px;
}
.HTML_Skill p{
    position:absolute;
    top: 115px;
    left: 200px;
}
@media only screen and (max-width: 767px){
    .HTML_Skill p{
        position:static;
    }
}
/*CSSskill*/
.CSS_Skill{
    padding: 105px 0px 105px 0px;
}
.CSS_ster{
    width: auto;
    height: 65px;
    position: absolute;
    top: 150px;
    left: 194px;
}
.CSS_Skill h3{
    position:absolute;
    top: 136px;
    left: 200px;
}
.CSS_Skill p{
    position:absolute;
    top: 200px;
    left: 200px;
}
@media only screen and (max-width: 767px){
    .CSS_Skill p{
        position: static;
    }
}

/*WORK画面CSS*/
.img_wrap{
    border: 1px solid #ddd;
    width: 100%;
    height: auto;
    margin: 15px 0px;
    overflow: hidden;
    background: #000;
}
@media only screen and (max-width: 767px){
    .img_wrap{
        width:350px;
    }
}
.img_wrap img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
}
.img_wrap:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
}
.img_wrap a{
    display: block;
    min-height: 100%;
}
.img_wrap h3{
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 45px 40px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
}
.img_wrap p{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    padding: 20px 40px;
}
/*google form*/
.submit{
    padding: 10px 0px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #333;
    color: #333;
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}
textarea{
    resize: none;
    overflow: hidden;
}

/*footer*/
footer{
    padding: 150px 0px 0px 0px;
}
footer .container{
    border-top: 2px solid rgba(92, 92, 92, 0.74);
    color: rgb(46, 46, 46);
    padding: 25px 0px;
    font-size: 12px;
}


